.carousel img{
    width: 100%;
    height: 500px;
}

.row{
    margin: 3%;
}

main{
    margin:4%;
    background-color:#FFFFFFFF;
}
a{
    text-decoration: none;
}
h8{
    font-family: 'Play', sans-serif;
    color: #696969;
}
.foto{
    margin-top: -13%;
    margin-left: 30%; 
}
.input-group{
    margin-top: 7%;
}
.fas{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30%;
}
.col-sm-6{
    margin: 1%;
}
.topnav{
    margin-right: 21px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 3px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 3px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

#texto_secoes{
    text-align: center;
    margin-bottom: 40px;
}

