.container{
            width: 40%;
            /*height: 300%;*/
            margin-top: 6%;
            border: 1px solid #ff0000;
            border-radius: 2%;
            background-color: #fff;
            padding: 2%;
        }
        
        .form-horizontal{
            width: 60%;
            height: 100%;
            margin: auto;
        }
        
        a{  
            color: #808080;
        }
        a:hover{
            text-decoration: none;
        }
        
        body{
            /* overflow: hidden; */
        }
        
        .form-group{
            margin: 10%;
        }
        
        .img{
            
            width: 100%;
        }
        
        .checkbox{
            padding-bottom: 5%;
        }
        
        input[type=checkbox]{
            font-size: 30%;
        }